<%- include('../partials/header') %>
    <!-- END #header -->
    <!-- BEGIN #sidebar -->
    <%- include('../partials/sidebar') %>
        <!-- BEGIN #content -->
        <div id="content" class="app-content">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row justify-content-center">
                    <!-- BEGIN col-10 -->
                    <div class="col-xl-10">
                        <!-- BEGIN row -->
                        <div class="row">
                            <!-- BEGIN col-9 -->
                            <div class="col-xl-12">
                                <!-- BEGIN #general -->
                                <% if (success_msg.length> 0) { %> <div class="alert alert-success">
                                        <%= success_msg[0] %>
                                    </div>
                                    <% } %>
                                        <% if (error_msg.length> 0) { %> <div class="alert alert-danger">
                                                <%= error_msg[0] %>
                                            </div>
                                            <% } %>
                                                <div id="general" class="mb-5">
                                                    <h4><i class="far fa-user fa-fw"></i> General</h4>
                                                    <p>View and update your general account information and settings.
                                                    </p>
                                                    <div class="card">
                                                        <div class="list-group list-group-flush">
                                                            <div class="list-group-item d-flex align-items-center">
                                                                <div class="flex-fill">
                                                                    <div>Username</div>
                                                                    <div class="text-gray-500">
                                                                        <%= admin.username %>
                                                                    </div>
                                                                </div>
                                                                <!-- <div>
                                                    <a href="#modalEdit" data-bs-toggle="modal"
                                                        class="btn btn-default w-100px">Edit</a>
                                                </div> -->
                                                            </div>
                                                            <div class="list-group-item d-flex align-items-center">
                                                                <div class="flex-fill">
                                                                    <div>Email address</div>
                                                                    <div class="text-gray-500"><a href=""
                                                                            class="__cf_email__">
                                                                            <%= admin.email %>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <a href="#modalEdit" data-bs-toggle="modal"
                                                                        class="btn btn-default w-100px">Update</a>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item d-flex align-items-center">
                                                                <div class="flex-fill">
                                                                    <div>Password</div>
                                                                </div>
                                                                <div>
                                                                    <a href="#changePassword" data-bs-toggle="modal"
                                                                        class="btn btn-default w-100px">Change
                                                                        Password</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END #general -->
                                                <!-- BEGIN #notifications -->
                                                <div id="notifications" class="mb-5">
                                                    <h4><i class="far fa-bell fa-fw"></i> System Status</h4>
                                                    <!-- <p>Enable or disable what notifications you want to receive.</p> -->
                                                    <div class="card">
                                                        <div class="list-group list-group-flush">
                                                            <div class="list-group-item d-flex align-items-center">
                                                                <div class="flex-fill">
                                                                    <div>SMTP</div>
                                                                    <div
                                                                        class="text-gray-500 d-flex align-items-center">
                                                                        <i
                                                                            class="fa fa-circle fs-8px fa-fw text-success me-1"></i>
                                                                        Enabled
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item d-flex align-items-center">
                                                                <div class="flex-fill">
                                                                    <div>Push Notifications</div>
                                                                    <div
                                                                        class="text-gray-500 d-flex align-items-center">
                                                                        <i
                                                                            class="fa fa-circle fs-8px fa-fw text-success me-1"></i>
                                                                        Enabled
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="list-group-item d-flex align-items-center">
                                                                <div class="flex-fill">
                                                                    <div>Cron Updates</div>
                                                                    <div
                                                                        class="text-gray-500 d-flex align-items-center">
                                                                        <i
                                                                            class="fa fa-circle fs-8px fa-fw text-success me-1"></i>
                                                                        Enabled
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="list-group-item d-flex align-items-center">
                                                <div class="flex-fill">
                                                    <div>New orders</div>
                                                    <div class="text-gray-500 d-flex align-items-center">
                                                        <i class="fa fa-circle fs-8px fa-fw text-success me-1"></i>
                                                        Enabled (Push, Email, SMS)
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="#modalEdit" data-bs-toggle="modal"
                                                        class="btn btn-default w-100px">Edit</a>
                                                </div>
                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END #notifications -->
                            </div>
                            <!-- END col-9-->
                            <!-- BEGIN col-3 -->
                            <!-- END col-3 -->
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END col-10 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #content -->
        <!-- BEGIN #modalEdit -->
        <div class="modal fade" id="modalEdit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="POST" action="/admin/update-profile?_method=PUT">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="email" class="form-control" placeholder="email" name="email"
                                            value=" <%= admin.email %>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-theme">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="changePassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="POST" action="/admin/update-password?_method=PUT">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Old Password</label>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="password" class="form-control" placeholder="old password"
                                            name="currentPassword" required>
                                    </div>
                                </div>
                                <br>
                                <label class="form-label">New Password</label>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="password" class="form-control" placeholder="New Password"
                                            name="newPassword" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-theme">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END #modalEdit -->
        <%- include('../partials/footer') %>